nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10vh;
  background-color: #D9D9D925;
  color: #f9f9f9;
  padding: 10px;
}
#navBar {
  color: white;
}
#imageBox {
  display: inline-block;
  font-family: Rubik;
}

.logout {
  /* margin-right: -88vh; */
  margin-left: 76vh;
}

#logout-btn{
  background-color: #31384a;
  padding: 10px;
  color: #f4f3ed;
  border-radius: 25px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.nav-links {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 25px;
  color: white;
  background-color: #31384a;
  color: #f4f3ed;
  border-radius: 25px;
  font-size: 25px;
  transition: background-color 0.3s;
  margin-left: 10px;
}
